/web/bundles/
/app/bootstrap.php.cache
/app/cache/*
/app/config/parameters.yml
/app/logs/*
!app/cache/.gitkeep
!app/logs/.gitkeep
/app/phpunit.xml
/build/
/vendor/
/bin/
/composer.phar

*tar.gz
*tar.bz2
*.tbz
*.tgz
*.sql
*.sql.gz
*.sql.bz2
*.rej
*.orig
\#*
.\#*
*~
*.bak

!.gitkeep
